.bots-list {
  color: white;
  background-color: #36363c;
  padding: 20px;
  width: 800px;

  &__title {
    font-size: 24px;
    padding: 10px 0;
  }

  &__search {
    padding: 10px 0;
    display: flex;

    &-input {
      flex: 1;
    }

    div {
      margin: 0px 10px;
    }

    input {
      background-color: transparent;
      color: white;
      border: none;
      width: 100%;

      &:focus {
        outline: none !important;
      }
    }

    &:focus-within {
      // border: thin solid black;
      background-color: #44444b;
      border-radius: 10px;
    }

    a {
      color: #c0c0c2 !important;
    }
  }

  &__table {
    margin-top: 20px;
  }

  table {
    width: 100%;
  }

  th, td { 
    padding: 5px 10px;
    text-align: left;
  }


  .loading td span, .loading td a {
    color: #545459;
    background-color: #545459;
  }

  a { 
    color: #b0a2fb;
    &:hover {
      cursor: pointer;
    }
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      width: 60px;
      height: 60px;
      padding: 40px 0 10px 0;
    }
    &-message {
      color: #757371;
      padding: 10px 0;
    }
    &-reload a {
      color: #b0a2fb;
      text-decoration: none;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      img {
        width: 60px;
      }
      padding: 40px 0 10px 0;
    }
    &-message {
      color: #757371;
      padding: 10px 0;
    }
    &-reload a {
      color: #b0a2fb;
      text-decoration: none;
    }
  }
}
